<!-- @format -->
<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <%- include("./constant/header.ejs") %>
  <body>
    <div class="container">
      <!-- <div class="header">
        <nav>
          <img
            src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg"
            alt="error"
          />
          <div class="nav-left">
            <span>Login</span>
            <span>Leave room</span>
          </div>
        </nav>
      </div> -->
      <%- include("./modal/login.ejs") %>
      <%- include("./modal/createRoom.ejs")  %> 

      <div class="contents">
        <div class="sidebar-menu" onclick="handleNavMenu()" >
          <span class="sidebar-menu-line" ></span>
          <span class="sidebar-menu-line" ></span>
          <span class="sidebar-menu-line" ></span>
        </div>
        <div class="sidebar">
          <div class="create-room-bar"  id="createRoomBtn" ><i class="fas fa-plus create-icon"></i>
            <span>Create Room</span>
          </div>
         
        
          <input type="hidden" value="<%=auth%>" id="authValue" />
          <div class="active-room-s">
            <span></span>
          </div>
          <% if(typeof details !== "undefined"){ %>
            <div class="err-msg" ><i class="fas fa-times close-icon-err"></i>
              <span><i class="fas fa-info-circle info-icon"></i> If you can't delete the message please refresh the page and then do the same.</span>
            </div>
          <%}%>
      
          <div class="room-name">
            <div class="room-header">
              <h1><i class="fas fa-server room-icon"></i>Rooms</h1>
              <i
                class="fas fa-chevron-down fa-1x dropicon"
            
              ></i>
            </div>
           
            <div class="rooms-list room-close">
              <ul id="rooms-ul">
                <% if(typeof details !== "undefined"){ %>
                <%AvlRooms.forEach((item)=>{%>
                  <li>
                    <a class="a-main" href="/room/?roomName=<%=item.roomName%>&user=<%=details.userId%>">
                      <%=item.roomName%>
                    </a>
                  </li>
               <%})%> 
                 
                <%}else{%>
                <li>Login first</li>
                <%}%>
              </ul>
            </div>
      
           
          </div>
          
          <!-- <div class="users-list">
            <h2>Users list</h2>
            <ul>
              <li>A</li>
              <li>A</li>
              <li>A</li>
              <li>A</li>
            </ul>
          </div> -->
        
        </div>
        <div class="chatbox">        
         
          <div class="chats ">
            <% if(chats.length > 0 ){ %> 
              <% chats.forEach((text,index)=>{ %>
               
              <%if(chats[index-1] && chats[index].userDetails.userId === chats[index-1].userDetails.userId){%>
                <% appendElements = function(tree){ %>
                  <div class="<%=details.userId === text.userDetails.userId ? "chat-item user-chat-list" : "chat-item chats-left user-chat-list"%>">
                    <div class="chatdetails" 
                    id="<%=text.userDetails.userId%>">
                   <div class="chatdetails">
                     <% if(details.userId === text.userDetails.userId){%>
                      <div class="chat-dots" id="<%=text.chatId%>">
                        <i class="fas fa-ellipsis-h dot-icon drop-icon-rotate"></i>
                        <div class="dropdown-chat">
                          <input type="hidden" value="<%=text.chatId%>" id="chat_Id" >
                          
                          <span class="dropdown-item chat-delete-item"  >Delete</span>
                          <span class="dropdown-item chat-info-item">Information</span>
                        </div>
                      </div>
                     <%}else{%>
                      <div class="chat-dots chat-dots-left" id="<%=text.chatId%>">
                        <i class="fas fa-ellipsis-h dot-icon dot-icon-left-rotate"></i>
                        <div class="dropdown-chat dropdown-chat-left">
                          <input type="hidden" value="<%=text.chatId%>" id="chat_Id" >
                          <span class="dropdown-item dropdown-item-left chat-info-item " >Information</span>
                        </div>
                      </div>
                      <% } %> 
                    <%if(text.userText){%>
                      <p><%=text.userText%></p>
                    <%}%> 
                    <%if(text.userImg){%> 
                      <div class="chat-imgbox" >
                        <img src=<%=text.userImg%> alt="error" class="image-chat" />
                        <div class="chat-imgdownload" >
                          <a download="<%=text.userImg%>"  href="<%=text.userImg%>" target="_blank" rel="noreferrer">
                            <i class="fas fa-cloud-download-alt download-icon"></i>
                          </a>
                          </div>
                      </div>
                    <%}%>
                   </div>
                   </div>
                   </div>
                <%}%>
               <%appendElements(chats[index].userDetails.userId,text)%>

              <%}else{%>
                <div class="<%=details.userId === text.userDetails.userId ? "chat-item right-padding" : "chat-item chats-left left-margin"%>"">
                  <div class="chatdetails" 
                  id="<%=text.userDetails.userId%>">
                  <% if(details.userId === text.userDetails.userId){%>
                    <div class="chat-dots" id="<%=text.chatId%>">
                      <i class="fas fa-ellipsis-h dot-icon "></i>
                      <div class="dropdown-chat">
                        <input type="hidden" value="<%=text.chatId%>" id="chat_Id" >
                        
                        <span class="dropdown-item chat-delete-item"  >Delete</span>
                        <span class="dropdown-item chat-info-item" >Information</span>
                      </div>
                    </div>
                   <%}else{%>
                    <div class="chat-dots" id="<%=text.chatId%>">
                      <i class="fas fa-ellipsis-h dot-icon "></i>
                      <div style="right: 0;" class="dropdown-chat">
                        <input type="hidden" value="<%=text.chatId%>" id="chat_Id" >
                        <span style="text-align: center;" class="dropdown-item chat-info-item" >Information</span>
                      </div>
                    </div>
                   <%}%> 
                <div class="chat-user-details" >
                  <img src ="<%=text.userDetails.profileUrl%>" alt="profile Url" class="profile-img" >
                   <span class="user-name" ><%=text.userDetails.username%></span>
                   <span class="user-date" ><%=text.date%></span>
                  </div>
                  <%if(text.userText){%>
                    <p class="no-bg"><%=text.userText%></p>
                  <%}%> 
                    <%if(text.userImg){%> 
                      <div class="chat-imgbox" >
                        <img src=<%=text.userImg%> alt="error" class="image-chat" />
                        <div class="chat-imgdownload" >
                          <a download="<%=text.userImg%>"  href="<%=text.userImg%>" target="_blank"  rel="noreferrer">
                          <i class="fas fa-cloud-download-alt download-icon"></i>
                          </a>
                        </div>
                      </div>
                      <%}%>
                </div>
              </div>
                <%}%> 
            <%})}%>
     
          </div>
          <div class="chat-form">
            <div class="select">
              <p>Select the format of message</p>
              <select id="selectOpt">
                <option value="text">Text</option>
                <option value="file">Image</option>
              </select>
              <progress max="100" id="progressbar"></progress>
              <img src="" alt="error" id="imgOpt" />

              <!-- <p>Choose another image to cancel</p> -->
            </div>
            <form id="chatform">
              <% if(typeof details !== "undefined"){%>
              <input type="hidden" value="<%=details.userId%>" id="userIdValue" />
              <%}%>

              <input
                type="text"
                autocomplete="off"
                placeholder="type something..."
                id="inputOpt"
                required
              />
              <button type="submit" id="submitBtn">send</button>
            </form>
          </div>
        </div>
        <div class="sidebar-rignt-mobile"  >
          <i id="mobile-avatar" class="far fa-user avatar-icon"></i>
        </div>
        <div class="sidebar-right" >
          <div class="user-info" >
            <div class="user-profile-img">
              <% if(typeof details !== "undefined"){ %>
              <img src="<%=details.profileUrl%>" alt="profielurl" />
              <%}else{%><img
                src="https://www.w3schools.com/howto/img_avatar.png"
                alt="profiel url"
              />
              <%}%>
            </div>
            <p>User Information</p>
            <div class="user-info-contents" >
              <ul>
                <% if(typeof details !== "undefined"){ %>
                  <li> <div class="active-status">
                    Status
                    <div class="status-select-dp" >
                      <input type="hidden" value="<%=details.userId%>" id="userchatId">
                    <select name="status" id="status-select" onchange="handleStatuschange()"  >
           
                      <%var options = [ "active", "offline", "busy", "gaming" ]; %>
                     <%for ( var i = 0; i < options.length; i++ ){ %>
                         <% var selected = ( details.activeStatus === options[i] ) ? "selected" : ""; %>
                          <option value="<%=options[i]%>" <%=selected%>><%=options[i]%></option> 
                      <%}%>
                    </select>
                  </div>
                  </div>
                  <li>Name : <%=details.username%>  </li>
                  <li>Email : <%=details.email%></li>
                  <% }else{%>
                 <li>Not logged in</li>
                  <% }%> 
            
               
              </li>
              </ul>
            </div>
          </div>
          <% if(typeof details !== "undefined"){%>
            <div class="room-userlist" >
              <h2>Room Users  </h2>
              <div class="room-userlist-container" >
                <% if(typeof chatusers !== "undefined"){ %>
                  
                  <%const activeUser = chatusers.find((item)=>item.userId === details.userId)%> 
                  <% if(activeUser){%>
                    <div class="room-userlist-box" >
                      <a href="/profile/user/<%=activeUser.userId%>?userId=<%=activeUser.userId%> " style="text-decoration: none;">
                        <div class="room-userlist-details" >
                          <img class="user-avatar"   src="<%=activeUser.profileUrl%>" alt="user profile img">
                          <span><%=activeUser.username%></span>
                        </div>
                      </a>
                     
               
                     <% if (activeUser.activeStatus === "offline") { %>
                          <div title="offline" class="room-user-status set-status red-s" id="<%=activeUser.userId+2%>"  ></div>
                     <% } else if (activeUser.activeStatus === "active") { %>
                        <div title="active" class="room-user-status set-status green-s"  id="<%=activeUser.userId+2%>"  ></div>
                      <%} else if (activeUser.activeStatus=== "busy") { %>
                        <div title="busy" style="background-color: rgb(0, 0, 0);" class="room-user-status set-status blue-s"  id="<%=activeUser.userId+2%>"  ></div>
                      <%} else if (activeUser.activeStatus === "gaming") { %>
                        <div title="gaming" style="background-color: white;" class="room-user-status set-status"   id="<%=activeUser.userId+2%>"   ></div>
                      <%} else { %>
                        <div title="none" class="room-user-status set-status"  id="<%=user.userId+2%>" ></div>
                      <%} %>
                         
                   </div>
                  <%} %>
                  <%chatusers.forEach((user)=>{ %>
                     <% if(user.userId !== details.userId  ){%>
                       <div class="room-userlist-box" >
                      <a href="/profile/user/<%=user.userId%>?userId=<%=user.userId%> " style="text-decoration: none;">
                        <div class="room-userlist-details" >
                          <img class="user-avatar"   src="<%=user.profileUrl%>" alt="userprofileimg">
                          <span><%=user.username%></span>
                        </div>
                      </a>
                     
               
                     <% if (user.activeStatus === "offline") { %>
                          <div title="offline" class="room-user-status set-status red-s" id="<%=user.userId+2%>"  ></div>
                     <% } else if (user.activeStatus === "active") { %>
                        <div title="active" class="room-user-status set-status green-s"  id="<%=user.userId+2%>"  ></div>
                      <%} else if (user.activeStatus=== "busy") { %>
                        <div title="busy" style="background-color: rgb(0, 0, 0);" class="room-user-status set-status blue-s"  id="<%=user.userId+2%>"  ></div>
                      <%} else if (user.activeStatus === "gaming") { %>
                        <div title="gaming" style="background-color: white;" class="room-user-status set-status"   id="<%=user.userId+2%>"   ></div>
                      <%} else { %>
                        <div title="none" class="room-user-status set-status"  id="<%=user.userId+2%>" ></div>
                      <%} %>
                         
                   </div>
                     <%} %> 
                 <%})%> 
                <%}%> 
            </div>
          </div> 
          <%}%> 
          <div class="btn">
            <% if(typeof details !== "undefined"){%>
            <a href="/auth/user/logout"> <button>Logout</button></a>
            <% }else{%>
            <button id="loginbtn">Login</button>
            <% } %>
            <p style="color: rgb(65, 65, 65);margin-top: 0.8rem;font-size: 0.8rem;text-align: center;">copyright ©️ karthikjs 2021</p>
          </div>
      </div>
    </div>
    <script src="./socket.io/socket.io.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
      integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script> -->
 
    <script src="/js/Dropdown.js"></script>
    <script src="/js/Sidebar.js"></script>
    <script src="/js/createRoom.js"></script>
   
    <script src="/js/CreateImg.js"  type="module" ></script>
    <script src="/js/main.js"  type="module"></script>
    <script src="/js/Images.js" type="module"></script>
  </body>
</html>
