<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <%- include("./constant/header.ejs") -%>
  <body>
    <div class="profile-container">
      <div class="toasts">
        <p>Saving Data please wait</p>
      </div>
      <div class="profile-contents">
        <p class="profile-ptag" onclick="history.back()">
          Go back<i class="fas fa-undo" style="margin-left: 0.3rem"></i>
        </p>
        <div class="profile-img-header">
          <img
            src="https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="profile-bg"
          />
        </div>
        <div class="profile-body-container">
          <div class="profile-body-contents">
            <% if(typeof userDetails !== "undefined" ){%>

            <div class="profile-body-img">
              <img
                src="<%=userDetails.profileUrl%>"
                alt="profileimageerror"
                id="userProfile"
                data-value="<%=userDetails.profileUrl%>"
              />
            </div>
            <%}if(auth === true){%>
            <span class="profile-span"
              ><i class="far fa-edit" style="margin-right: 0.3rem"></i
              >Edit</span
            >
            <%}%>
          </div>
          <span class="upload-cancel"
            ><i class="far fa-times-circle" style="margin-right: 0.3rem"></i
            >Cancel</span
          >
        </div>
        <div class="profile-body-text">
          <p>
            Username :
            <span class="profile-body-text-span">
              <%=userDetails.username%></span
            >
          </p>
          <div class="profile-userStatus">
            <p style="text-transform: capitalize">
              Status : <%=userDetails.activeStatus%>
            </p>
          </div>
        </div>
        <div class="profile-upload-form">
          <form class="profile-form">
            <% if(typeof userDetails !== "undefined" ){%>
            <input
              type="hidden"
              value="<%=userDetails.userId%>"
              name="userId"
              id="loggeduserId"
            />
            <label>Username (max : 10char) </label>
            <input
              type="text"
              name="username"
              required
              maxlength="12"
              id="profileUsername"
              value="<%=userDetails.username%>"
            />
            <span class="profile-err">Username already exists!</span>
            <label>Email (read only)</label>
            <input
              type="email"
              name="email"
              id="profileEmail"
              readonly
              required
              value="<%=userDetails.email%>"
            />

            <label class="label-profileimg"
              >Profile Image
              <span class="profile-upload-cancel"
                >Cancel<i
                  class="far fa-times-circle"
                  style="margin-left: 0.2rem"
                ></i>
              </span>
            </label>
            <input type="file" id="profilechange" name="profileImg" />
            <div class="profile-uploaded-img">
              <img src="<%=userDetails.profileUrl%>" alt="err" />
              <i
                title="Change profile pic"
                class="far fa-edit profile-img-edit-icon"
              ></i>
            </div>
            <button type="submit">Submit</button>
            <%}%>
          </form>
        </div>
        <div class="profile-rooms-container">
          <h1><i class="far fa-plus-square"></i> Created Rooms</h1>
          <div class="profile-rooms">
            <%if(typeof userRooms !== "undefined"){if(userRooms.length > 0){%>
            <%userRooms.forEach((room,index)=>{%>
            <div class="profile-rooms-box">
              <span class="profileroom-span">
                <span> <%=index+1%>)</span>
                <%=room.roomName%>
              </span>

              <%if(auth === true){%>
              <span class="room-delete" data-value="<%=room.roomName%>"
                >delete <i class="fas fa-trash-alt profile-delete-icon"></i
              ></span>
              <%}%>
            </div>
            <%})}else{%>
            <div class="profile-norooms">
              <iframe
                src="https://giphy.com/embed/QACRXjKOU9xtlzTBar"
                width="100"
                height="100"
                frameBorder="0"
                class="giphy-embed"
                allowFullScreen
              ></iframe>

              <p>No rooms Found</p>
            </div>
            <%}}%>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/Roomactions.js"></script>
    <script src="/js/Upload.js" type="module"></script>
    <script src="/js/UserProfile.js" type="module"></script>
  </body>
</html>
